*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    height: 100vh;
}

.container
{
    margin: 0 auto;
    padding: 0 1%;
    padding-bottom: 2.5rem;
}

body
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.158)),
                        linear-gradient(to top, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.007)),
                        url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

nav .logo
{
    width: 100%;
}

nav .logo img
{
    width: 200px;
}

main
{
    background-color: #000101a8;
    max-width: 450px;
    margin: 0 auto 80px;
    padding: 50px;
    color: #737373;
    border-radius: 10px;
}

main form h1
{
    margin: 10px 0 20px 0;
    color: #ffffff;
    font-size: 40px;
}

main form .form-g > input
{
    width: 100%;
    background-color: #333333;
    outline: none;
    border: none;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    color: #737373;
}

main form .form-g button
{
    width: 100%;
    background-color: #e50914;
    outline: none;
    border: none;
    height: 45px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.form-footer
{
    margin-top: 20px;
}

.form-footer a
{
    color: #ffffff;
    text-decoration: none;
}

.form-footer label
{
    margin-left: 10px;
}

.form-footer input[type=checkbox]
{
    float: left;
}

.form-footer p
{
    float: right;
}

.box-description > a
{
    text-decoration: none;
    color: #737373;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.box-description a img
{
    width: 25px;
    margin-right: 10px;
    border-radius: 3px;
}

.box-description-link-white
{
    color: #ffffff;
    text-decoration: none;
}

.box-description p
{
    margin: 12px 0;
}

.box-description p span
{
    color: white;
}

.box-description p:last-child a
{
    color: #0062ff;
}

.divider
{
    background-color: #212121;
    width: 100%;
    height: 4px;
    display: none;
}

.footer-login
{
    padding: 20px;
    background-color: #000101a8;
    position: absolute; 
    bottom: 0%;
    width: 100%;
}

.footer-login .box-footer
{
  max-width: 1000px;
  margin: 0 auto;
}

.footer-login .box-footer .box-single
{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}

.box-footer p
{
    color: #737373;
}

.box-footer .box-single ul
{
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.box-footer .box-single ul li
{
    width: 25%;
    padding: 10px 0;
}

.box-footer .box-single ul a
{
    color: #737373;
    text-decoration: none;
}

@media (max-width:730px) 
{
    body
    {
        background-image: none;
        background-color: black;
    }

    main
    {
        max-width: 100%;
        padding: 10px;
    }

    .box-description
    {
        margin-top: 20px;
    }

    .box-footer .box-single ul li
    {
        width: 33.3%;
    }

    .divider
    {
        display: block;
    }

    .footer-login
    {
        padding: 20px;
        background-color: #000101a8;
    }
}

@media (max-width:360px) 
{
    .box-footer .box-single ul li
    {
        width: 50%;
    }
    
    .footer-login
    {
        padding: 20px;
        background-color: #000101a8;
    }
}
